@charset "UTF-8";

@media screen and (max-width: 600px) {
     
    section#caixa {
        width: 70%;
        padding: 10px;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
     
    section#caixa {
        width: 60%;
        padding: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    section#caixa {
        width: 60%;
        padding: 10px;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px)  {

    section#caixa {
        width: 35%;
        padding: 10px;
    }

}